

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    
  }
  img{
    width: 100%;
    height: auto;
  }

  
  #navbar {
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #edf0f1;
    padding: 1rem;
    border: 1px solid red;
  }
  
  #navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  #navbar ul li a {
    color: #edf0f1;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    margin: 0 1rem;
  }
  
  .current {
    background: #0088a9;
    border-radius: 20px;
    border: none;
  }
  
  #navbar ul li a:hover {
    background: #0088a9;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 660px) {
      #navbar {
          flex-direction: column;
          align-items: center;
      }
  
      #navbar .logo {
          margin-bottom: 0.5rem;
          text-align: center;
      }
  
      #navbar ul {
          padding: 0.5rem;
      }
      .img img{
        width: 100%;
        height: auto;
      }
    
      #navbar ul li a {
        padding: 0.5rem;
      }
  }

  .main{
    max-width: 100%;
    background: #000;
  }
  h1 {
      text-align: center;
      color: #fff;
      padding: 10px;
  }
  
  .btn {
    color: #ffffff;
    padding: 0.8rem;
    text-transform: uppercase;
    border-radius: 4px;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid #000;
    background: transparent;
    font-size: 15px;
  }
  .btn:hover {
    background-color:black
  }
  
  .games {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .game_item {
    display: flex;
    padding: 16px;
  }
  
  @media (min-width: 640px) {
    .game_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .game_item {
      width: 33.3333%;
    }
  }
  .game {
    display: flex;
    flex-direction: column;
  }
  
  .game_info {
    padding: 32px;
    background: linear-gradient(black,WHITE)
  }
  
  .game_name {
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
  }
  
